body{

   background-image: url(splash_index.jpg);
   background-size:    cover;
}

h2{
  color: #D46A6A;
  text-align:  center;

     border: 5px solid rgba(255,170,170,.2);
  cursor:      wait;


}
li{
 list-style:             none;
 display:             inline-block;
}
h1, p {
 color: rgb(255,170,170);
 text-align:     center;

  cursor:      pointer;
}
