/* this is my first css comment */
h2 {
    color: blue;
}
/* p {
  color: purple
} */

 p{
  color: yellow;
}

p{
  color: pink;
}
/* li {
  color: yellow
} */
/* this is a comment */
